{% extends 'spveapp/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <p>SPRING VIEW ESTATE HOUSE OWNER REGISTRATION FORM</p>
    <form action="" method="post" autocomplete="off">
    {% csrf_token %}
    {{ oform.firstname|as_crispy_field }}
    {{ oform.surname|as_crispy_field }}
    <div class="row">
        <div class="col-md-6">
            {{ oform.gender|as_crispy_field }}
        </div>
        <div class="col-md-6">
            {{ oform.hse_number|as_crispy_field }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{ oform.id_number|as_crispy_field }}
        </div>
        <div class="col-md-6">
            {{ oform.mobile_number|as_crispy_field }}
        </div>
    </div>

    <button type="submit" class="btn btn-success"><i class="fa fa-database"></i> Submit</button>
    </form>
{% endblock %}